:root{
    --bg-color: #1b212f;
    --pink: #ff0088;
    --light-green: hsl(176.1, 86.5%, 34.9%);
    --light-green2: rgb(2, 255, 238);
}

html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Almarai', sans-serif;
    list-style: none;
}

body {
    background-color: var(--bg-color);
    color: white;
    overflow-x: hidden;
}

nav .left{
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2em;
}

nav .left img{
    width: 100%;
}

a{
    text-decoration: none;
}

nav{
    width: 100%;
    margin-left: auto;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: var(--bg-color);
    z-index: 999;
    padding: 2em 0em;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
}

nav ul li {
    margin-left: 2em;
}

nav ul li:hover {
    cursor: pointer;
}

.gra-border-con {
    width: 8em;
    height: 3em;
    position: relative;
}

.gra-border-con .title{
    color: white;
    border-radius: 50px;
    background-color: var(--bg-color);
    width: 100%;
    height: 95%;
    position: absolute;
    top: 12.5%;
    left: 5%;
    padding-left: 15px;
    line-height: 3em;
}

.gra-border-con .title:hover{
    box-shadow:  0px 0px 29px 4px var(--pink);
}

.gra-border-con::after {
    content: '';
    width: 120%;
    height: 120%;
    background: linear-gradient(90deg,var(--pink) 0%, var(--bg-color) 60% 100%);
    position: absolute;
    left: 0%;
    z-index: -1;
    border-radius: 50px;
}


/* .app{
    position: relative;
    height: 90vh;
    margin-top: 4em;
    background-color: var(--bg-color);
}

.app section{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--bg-color);
    height: 100%;
} */

.app section{
    padding-top: 4em;
    padding-bottom: 4em;
}

.app .gra-border-con{
    margin-left: auto;
    font-size: 1.5rem;
    text-align: left;
}

.content {
    height: 80vh;
    /* height: max-content; */
    width: 100%;
    /* transform: translateY(0);
    transition: transform 1s;
    z-index: 5; */
}

.content .left{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.content .bg-img-con {
    width: 30em;
    height: 30em;
    background: linear-gradient(270deg,var(--light-green) 0%, var(--bg-color) 93%);
    border-radius: 50%;
    margin-left: -2em;
    margin-top: 3em;
    
}

.content .bg-img-con img {
    width: 120%;
    margin-top: -30px;
}

.content .right{
    position: absolute;
    right: 5%;
    width: 420px;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
}

.content .right h1{
    font-size: 4rem;
    font-weight: bold;
}

.content .right h2{
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1em;
    position: relative;
}

.content .right h2::after{
    content: '';
    position: absolute;
    right: 0px;
    bottom: -20px;
    width: 100%;
    height: 10px;
    background-image: linear-gradient(270deg,var(--pink) 0%, var(--bg-color) 40% 100%);
}

.content .right p{
    line-height: 1.5;
}

.circle {
    width: 200px;
    height: 200px;
    background: linear-gradient(120deg, var(--light-green2) 0%, var(--bg-color) 65% 100%);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: -65px;
    left: 7px;
    transform: rotateZ(18deg);
}

.circle::after {
    content: '';
    position: absolute;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: var(--bg-color);
}






.products {
    /* width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: 0em 3em;
    /* z-index: 4; */
    /* transform: translateX(0); */
    /* transition: transform 1s; */
}

.products .main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-product {
    /* display: flex; */
    width: 500px;
    height: 500px;
    /* overflow: hidden; */
    /* position: relative; */
}

.img-product img{
    border-radius: 50%;
    width: 500px;
    height: 500px;
    object-fit: cover;
} 

.products-desc {
    width: 384px;
    text-align: right;
    line-height: 1.5;
}

.products-desc p{
    width: 70%;
    margin-left: auto;
    font-size: 1.2rem;
    margin-top: 2em;
}

/* .products .img-product .left,
.products .img-product .right{
    position: absolute;
    bottom: 0px;
    font-size: 4rem;
    color: white;
}

.products .img-product .left{
    left: 35%;
}

.products .img-product .right{
    right: 35%;
} */

.about {
    width: 100%;
    color: white;
    font-size: 2em;
    padding-right: 2em;
    text-align: right;
    z-index: 3;
    transform: translateX(0);
    transition: transform 1s;
}


.about p {
    width: 700px;
    margin-top: 2em;
    margin-left: auto;
}

.app .hidden-left{
    transform:translateX(100%);
    transition: all 1s linear;
}

.app .hidden-right{
    transform: translateX(-100%);
    transition: all 1s linear;
    transition-delay: 1s;
}

.app section.active{
    top: 0px;
    transition: all 1s linear;
}

.app .active{
    transform: translateX(0);
    transition-delay: 1;
}

.app .run{
    transform: translateX(120%);
}






.time {
    width: 100%;
    color: white;
    /* z-index: 2;
    transform: translateX(0);
    transition: transform 1s; */
    /* display: flex;
    justify-content: space-between; */
    padding: 2em;
}

.time .main{
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

.time > p{
    line-height: 1.5;
    font-weight: bold;
    text-align: right;
    padding: 0em 2em;
}


table {
    text-align: center;
    width: 100%;
    height: 60vh;
}

tr {
    color: white;
}

td {
    padding: .5em .3em;
    border-right: 5px solid white;

}

.a {
    background-image: linear-gradient(to right, var(--bg-color), var(--light-green));
}

.border {
    width: 50px;
    height: 3px;
    background-color: white;
    margin: 0 auto;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3em;
    background-color: gray;
    width: 100%;
    height: 150px;
}
footer a{
    color: white;
    font-size: 30px;
  
}