

:root{
    --bg-color: #1b212f;
    --pink: #ff0088;
    --light-green: hsl(176.1, 86.5%, 34.9%);
    --light-green2: rgb(2, 255, 238);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Almarai', sans-serif;
    list-style: none;
}

body {
    background-color: var(--bg-color);
    color: white;
    height: 90vh;
    overflow: hidden;
}

nav{
    margin-top: 1em;
    width: 800px;
    margin-left: auto;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

nav ul li:hover {
    cursor: pointer;
}

.gra-border-con {
    width: 8em;
    height: 3em;
    position: relative;
}

.gra-border-con .title{
    color: white;
    border-radius: 50px;
    background-color: var(--bg-color);
    width: 100%;
    height: 95%;
    position: absolute;
    top: 12.5%;
    left: 5%;
    padding-left: 15px;
    line-height: 3em;
}

.gra-border-con .title:hover{
    box-shadow:  0px 0px 29px 4px var(--pink);
}

.gra-border-con::after {
    content: '';
    width: 120%;
    height: 120%;
    background: linear-gradient(90deg,var(--pink) 0%, var(--bg-color) 60% 100%);
    position: absolute;
    left: 0%;
    z-index: -1;
    border-radius: 50px;
}

.content {
    position: relative;
    height: 100%;
}

.content .left{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.content .bg-img-con {
    width: 30em;
    height: 30em;
    background: linear-gradient(270deg,var(--light-green) 0%, var(--bg-color) 93%);
    border-radius: 50%;
    margin-left: -2em;
    margin-top: 3em;
    
}

.content .bg-img-con img {
    width: 120%;
    margin-top: -30px;
}

.content .right{
    position: absolute;
    right: 5%;
    width: 420px;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
}

.content .right h1{
    font-size: 4rem;
    font-weight: bold;
}

.content .right h2{
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1em;
    position: relative;
}

.content .right h2::after{
    content: '';
    position: absolute;
    right: 0px;
    bottom: -20px;
    width: 100%;
    height: 10px;
    background-image: linear-gradient(270deg,var(--pink) 0%, var(--bg-color) 40% 100%);
}

.content .right p{
    line-height: 1.5;
}

.circle {
    width: 200px;
    height: 200px;
    background: linear-gradient(120deg, var(--light-green2) 0%, var(--bg-color) 65% 100%);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: -65px;
    left: 7px;
    transform: rotateZ(18deg);
}

.circle::after {
    content: '';
    position: absolute;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: var(--bg-color);
}






.products {
    width: 100%;
    display: flex;
    margin-top: 10em;
    justify-content: space-between;
    align-items: center;
    padding: 0em 3em;
}

.img-product {
    display: flex;
    width: 40vw;
    height: 40vw;
    position: relative;
}

.img-product img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.products-desc {
    width: 384px;
    text-align: right;
    line-height: 1.5;
}

.products-desc p{
    width: 70%;
    margin-left: auto;
    font-size: 1.2rem;
    margin-top: 2em;
}

.products .img-product .left,
.products .img-product .right{
    position: absolute;
    bottom: 0px;
    font-size: 4rem;
    color: white;
}

.products .img-product .left{
    left: 35%;
}

.products .img-product .right{
    right: 35%;
}

/* 
************************
    TODO Ebranhim Gad Products
************************
 */